beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
dearpygui==0.6.144
docutils==0.16
idna==2.10
m2r==0.2.1
mistune==0.8.4
pypandoc==1.5
pypiwin32==223
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pywin32==300
requests==2.25.1
six==1.15.0
soupsieve==2.1
urllib3==1.26.2
websockets==8.1
